<connectionStrings>

  <!-- for server development    
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=46.163.70.174\sqlexpress;AttachDbFilename=C:\FhrCliverHost#development\_data\PRODUCTOFFICE.MDF;User ID=ProductOffice;Password=1234;MultipleActiveResultSets=True;Asynchronous Processing=true;" />
  <add name="ProductOfficeEntities" connectionString="metadata=res://*/Models.ProductOffice.csdl|res://*/Models.ProductOffice.ssdl|res://*/Models.ProductOffice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.163.70.174\sqlexpress;AttachDbFilename=C:\FhrCliverHost#development\_data\PRODUCTOFFICE.MDF;User ID=ProductOffice;Password=1234;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

  <!-- for home development   -->
   <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=D:\_d\_PROJECTS\FHR(for Andreas Chermak)\FhrCliverHost#development\_data\ProductOffice.mdf;Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="CliverCrawlerHostConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\FhrCliverHost#development\_data\CliverCrawlerHost.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ProductOfficeEntities" connectionString="metadata=res://*/Models.ProductOffice.csdl|res://*/Models.ProductOffice.ssdl|res://*/Models.ProductOffice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=D:\_d\_PROJECTS\FHR(for Andreas Chermak)\FhrCliverHost#development\_data\ProductOffice.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    
  
  <!-- for production system      
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=46.163.70.174\sqlexpress;AttachDbFilename=C:\FhrCliverHost#production\_data\PRODUCTOFFICE.MDF;User ID=ProductOffice;Password=1234;MultipleActiveResultSets=True;Asynchronous Processing=true;" />
    <add name="ProductOfficeEntities" connectionString="metadata=res://*/Models.ProductOffice.csdl|res://*/Models.ProductOffice.ssdl|res://*/Models.ProductOffice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.163.70.174\sqlexpress;AttachDbFilename=C:\FhrCliverHost#production\_data\PRODUCTOFFICE.MDF;User ID=ProductOffice;Password=1234;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
</connectionStrings>