@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Settings <b>@ViewBag.Scope::@ViewBag.Key</b></h4>
    <hr />
    <textarea readonly name="settings" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.Value</textarea>

</div>
