@model IEnumerable<Cliver.ProductOffice.Models.Setting>

@{
    ViewBag.Title = "Index";
}

<h2>Settings</h2>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Object)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Key)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script type="text/javascript">
    </script>
