@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Developer:</span>
        <span>380(95)6190192</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Developer:</span>
        <span><a href="mailto:sergey.stoyan@gmail.com">sergey.stoyan@gmail.com</a></span>
    </p>
</section>

