<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="Cliver.Properties.Settings.fhrConnectionString" connectionString="Data Source=46.163.70.174;Initial Catalog=fhr;Persist Security Info=True;User ID=fhr_excel;Password=fhr_excel;Connection Timeout=120" providerName="System.Data.SqlClient" />
    <add name="Cliver.ProductIdentifier.Properties.Settings.fhrConnectionString" connectionString="Data Source=46.163.70.174;Initial Catalog=fhr;Persist Security Info=True;User ID=fhr_excel;Password=fhr_excel;Connection Timeout=120" providerName="System.Data.SqlClient" />
    <add name="Cliver.ProductIdentifier.Properties.Settings.ProductOfficeConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\ProductOffice\App_Data\ProductOffice.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
