@{
    ViewBag.Title = "Word Weights";
}

<h2>Word Weights</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <input type="hidden" value="@ViewBag.CompanyId" name="company_id" />

    <textarea id="word_weights" name="word_weights" style="resize:both;overflow:auto;height:400px;width:800px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.WordWeights</textarea>

    <p>
        <input type="submit" value="Save" />
    </p>
}
<script>
    $('#word_weights').width($(window).width() - 100);
    $('#word_weights').height($(window).height() - 200);
</script>