@{
    ViewBag.Title = "Ignored Words";
}

<h2>Ignored Words</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <input type="hidden" value="@ViewBag.CompanyId" name="company_id" />
    <textarea name="ignored_words" style="resize:both;overflow:auto;height:200px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;">@ViewBag.IgnoredWords</textarea>

    <p>
        <input type="submit" value="Save" />
    </p>
}