@{
    ViewBag.Title = "Index";
}

<h2>Product Links</h2>

<table class="my">
    <thead>
        <tr>
            <th>
                LinkId
            </th>
            @foreach (Cliver.FhrApi.ProductOffice.Models.Company c in ViewBag.Companies)
            {
                <th>
                    @c.Name
                </th>
            }
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var ProductLinksTable = init_table({
        server: {
            request_path: "@Request.Path",
        },
        menu: {
            top: false,
            left: {
                edit: true,
                details: false,
                delete: false,
            },
        }
    });
</script>
