@{
    ViewBag.Title = "Index";
}

<h2>Product Links</h2>

<table>
    <thead>
        <tr>
            <th>
                LinkId
            </th>
            @foreach (Cliver.ProductOffice.Models.Company c in ViewBag.Companies)
            {
                <th>
                    @c.Name
                </th>
            }
        </tr>
    </thead>

</table>
<script type="text/javascript">
    var ProductLinksTable = init_table({
        server: {
            request_path: "@Request.Path",
            actions_prefix: null,
        },
        id_column_id: 0,
        invisible_column_ids: [0],
        rowCallback: "default_rowCallback",
        menu: {
            right: [
                { text: "Edit", onclick: "default_edit" }
            ]
        }
    });
</script>
