@*@model IEnumerable<Cliver.ProductOffice.Models.Product>

<h2>Product Group</h2>

<a href="#" onclick="">Remove All</a>
<div id="Group">

</div>

<script>
    var products_table = init_table({
        server: {
            request_path: "@Request.Path",
        },
        menu: {
            top: {
                start: { text: "Start Grouping", onclick: function () { alert("2"); } }
            },
            left: {
                show: { text: "Show Group", onclick: function () { alert("1"); } }
            },
            right: {
                edit: false,
            }
        },
    });
    products_table.find('tbody').on('click', 'tr', function () { products_table.definition.on_row_clicked($(this)); });

</script>*@


