<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cliver.FhrCrawlerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cliver.FhrCrawlerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    
  <add name="ProductOfficeEntities" connectionString="metadata=res://*/ProductOffice.Models.ProductOfficeEntities.csdl|res://*/ProductOffice.Models.ProductOfficeEntities.ssdl|res://*/ProductOffice.Models.ProductOfficeEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=(localdb)\MSSQLLocalDB;attachdbfilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\FhrCliverHost#development\_data\ProductOffice.mdf&quot;;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <userSettings>
    <Cliver.FhrCrawlerManager.Properties.Settings>
      <setting name="CrawlerProcessMaxNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StartManagerByDefault" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailSender" serializeAs="String">
        <value>crawler_manager@cliversoft.com</value>
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value>mail.cliversoft.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SmtpLogin" serializeAs="String">
        <value>crawler_manager@cliversoft.com</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="DefaultAdminEmails" serializeAs="String">
        <value>sergey.stoyan@gmail.com</value>
      </setting>
      <setting name="RunSilently" serializeAs="String">
        <value>False</value>
      </setting>
    </Cliver.FhrCrawlerManager.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Cliver.FhrCrawlerManager.Properties.Settings>
      <setting name="PollIntervalInSecs" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CrawlersDirectory" serializeAs="String">
        <value>..\..\crawlers</value>
      </setting>
      <setting name="HelpUri" serializeAs="String">
        <value>http://cliversoft.com/articles/manual_to_crawlerhost.php</value>
      </setting>
    </Cliver.FhrCrawlerManager.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>