<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.FhrManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FhrManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FhrManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cliver.FhrManager.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>444</value>
            </setting>
            <setting name="test2" serializeAs="String">
                <value>rrrrrrrrrr</value>
            </setting>
        </Cliver.FhrManager.Properties.Settings>
        <FhrManager.Settings>
            <setting name="test" serializeAs="String">
                <value>111</value>
            </setting>
        </FhrManager.Settings>
        <FhrManager.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>111</value>
            </setting>
        </FhrManager.Properties.Settings>
    </userSettings>
</configuration>