<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.FhrCrawlerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.FhrCrawlerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cliver.FhrCrawlerManager.Properties.Settings.DbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\CliverCrawlerHost\CliverCrawlerHost.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Cliver.FhrCrawlerHost.Properties.Settings.ProductOfficeConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\ProductOffice\ProductOffice\App_Data\ProductOffice.mdf1&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Cliver.FhrCrawlerHost.Properties.Settings.ProductOfficeConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\ProductOffice\ProductOffice\App_Data\ProductOffice.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Cliver.FhrCrawlerHost.Properties.Settings.ProductOfficeConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\_d\_PROJECTS\FHR(for Andreas Chermak)\CliverHost\ProductOffice\App_Data\ProductOffice.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Cliver.FhrCrawlerManager.Properties.Settings>
            <setting name="CrawlerProcessMaxNumber" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartManagerByDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailSender" serializeAs="String">
                <value>crawler_manager@cliversoft.com</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>mail.cliversoft.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpLogin" serializeAs="String">
                <value>crawler_manager@cliversoft.com</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="DefaultAdminEmails" serializeAs="String">
                <value>sergey.stoyan@gmail.com</value>
            </setting>
            <setting name="RunSilently" serializeAs="String">
                <value>False</value>
            </setting>
        </Cliver.FhrCrawlerManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Cliver.FhrCrawlerManager.Properties.Settings>
            <setting name="PollIntervalInSecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CrawlersDirectory" serializeAs="String">
                <value>..\..\crawlers</value>
            </setting>
            <setting name="HelpUri" serializeAs="String">
                <value>http://cliversoft.com/articles/manual_to_crawlerhost.php</value>
            </setting>
        </Cliver.FhrCrawlerManager.Properties.Settings>
    </applicationSettings>
</configuration>