@Styles.Render("~/Content/Menu.css")

<nav id="primary_nav_wrap">
    <ul>
        <li>
            <a href="#">Admin</a>
            <ul>
                <li><a href="/Users">Users</a></li>
                <li><a href="/Home/Contact">Support</a></li>
                <li><a href="/Home/About">About</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Statistics</a>
            <ul>
                <li class="disabled"><a href="#">Price history</a></li>
                <li class="disabled"><a href="#">Chart</a></li>
                <li class="disabled"><a href="#">By company</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Monitors</a>
            <ul>
                <li class="disabled"><a href="#">Price</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Products</a>
            <ul>
            <li><a href="/Products">Products</a></li>
                <li><a href="/Import">Import</a></li>
    </ul>
        </li>
        <li><a href="#">Manage</a>
        <ul>
    <li><a href="/ImportMaps">Import maps</a></li>
    <li><a href="/LinkCategories">Categories</a></li>
    <li><a href="/Companies">Companies</a></li>
</ul>
        </li>
        <li><a href="#">Linking</a>
        <ul>
    <li><a href="ProductLinks">Product links</a></li>
    <li><a href="ProductIdentifierConfiguration">Configuration</a></li>
</ul></li>
        
    <li><a href="#">Engine</a><ul>
                                    <li><a href="/WatchDog">WatchDog</a></li>
                                    <li><a href="/Messages">Messages</a></li>
    <li><a href="/Crawlers">Crawlers</a></li>
                                  <li><a href="/Services">Services</a></li>
                                  <li><a href="/Settings">Settings</a></li>
                                  <li><a href="/SQL">SQL</a></li>
</ul>
        </li>
    </ul>
</nav>





