@model IEnumerable<Cliver.Fhr.ProductOffice.Models.LinkCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>


<table class="my">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    var table = init_table({
        server: {
            request_path: "@Request.Path",
        },
        menu: {
            top: false,
            left: false,
        }
    });
</script>